@media(max-width:991px){

.hero-grid{

grid-template-columns:1fr;

text-align:center;

}

.hero-left h1{

font-size:48px;

}

.hero-right img{

width:300px;

}

nav ul{

display:none;

}

.hero-buttons{

justify-content:center;

}

}
.stats-grid,
.brand-grid,
.tool-grid,
.why-grid{

grid-template-columns:1fr;

}
.portfolio-grid{

grid-template-columns:1fr;

}
.video-grid{

grid-template-columns:1fr;

}
.mockup-grid{

grid-template-columns:1fr;

}
.iphone-grid{

grid-template-columns:repeat(2,1fr);

}

@media(max-width:700px){

.iphone-grid{

grid-template-columns:1fr;

}

}
.mission-grid,
.values-grid{

grid-template-columns:1fr;

}
.process-grid,
.tools-grid,
.choose-grid{

grid-template-columns:1fr;

}

.about-cta h2{

font-size:34px;

}
.services-grid,
.services-card-grid{

grid-template-columns:1fr;

}

.services-grid{

text-align:center;

}

.services-grid h1{

font-size:46px;

}

.services-hero-image img{

width:300px;

}
.detail-row{

grid-template-columns:1fr;

}

.detail-row.reverse{

direction:ltr;

}

.detail-content{

text-align:center;

}

.detail-content h2{

font-size:36px;

}
.benefit-grid,
.faq-grid,
.process-line{

grid-template-columns:1fr;

}

.service-cta h2{

font-size:36px;

}
.pricing-grid{

grid-template-columns:1fr;

}

.featured{

transform:none;

}

.featured:hover{

transform:translateY(-10px);

}
@media (max-width:768px){

.table-wrapper{
    overflow-x:auto;
}

.pricing-table{
    min-width:700px;
}

.pricing-table thead th,
.pricing-table tbody td{
    padding:14px;
    font-size:14px;
}

}